.button {
    font-size: var(--fs-7);
    font-weight: 700;
    line-height: 1.5;
    padding: 10.5px 24px;
    border-radius: 20px;
    transition: 150ms ease-in-out;
    transition-property: background-color, opacity;
}

.button.dark {
    background-color: var(--color-blue-900);
    color: var(--color-white);
}
.button.dark:hover {
    background-color: var(--color-blue-600);
}

.button.pink {
    background: var(--gradient-pink);
    color: var(--color-white);
}
.button.pink:hover {
    opacity: 0.5;
}

@media screen and (width >= 75em) {
    .button {
        padding: 1rem 2rem;
    }
}
